{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

   <link rel="stylesheet" href="{% static '/Am-style/if.css' %}">
   <title>Document</title>
</head>
<body>
   <div class="sidebar" >

    
      <svg xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:html="http://www.w3.org/1999/xhtml"
      version="1.1" width="658px" height="627px">

      <g class="draggable if-container" data-category="control" data-shapes="c-block c-1" data-id="control_if" transform="translate(5,2)">
         <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
         fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
         <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(8,24)">if</text>
         <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#CF8b17" transform="translate(50,8)"></path>
         <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(124,24)" >then</text>


   </g>
         <g class="draggable operation-logic"  data-id="text" transform="translate(5,130)" data-argument-type="text">
            <path d="m 0,0 m 20,0 H 156.35000038146973 l 20 20 l -20 20 H 20 l -20 -20 l 20 -20 z" stroke="#389438" fill="#59C059"></path>
            <image href="{% static '/Am-images/variable.png' %}" height="15" x="19" y="12" width="15"></image>
            <g transform="translate(20,0)">
               <foreignObject x="12" y="0" width="35" height="35">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <input class="input"></input>
                  </div>
                  </foreignObject>
            </g>
            <g class="am-drop select"  transform="translate(72, 10)" style="cursor: text;">
               <rect  rx="4" ry="4" x="0" y="0" height="18" width="31"></rect>
               <text x="10" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> >
               </text>
               <text x="23" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ▾
               </text>
               <foreignObject x="-80" y="50" width="200" height="250" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <div class="operation-head">
                     </div>

                        <div class="operation-list input-mimic">
                           <p><</p>
                           <p><=</p>
                           <p>==</p>
                           <p>&&</p>
                           <p>||</p>
                        </div>
                     </div>
               </foreignObject>
            </g>
            <g transform="translate(92,0)">
               <foreignObject x="12" y="0" width="35" height="35">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <input class="input"></input>
                  </div>
               </foreignObject>
            </g>
            <image href="{% static '/Am-images/variable.png' %}" height="15" x="142" y="12" width="15"></image>

         </g>


         <g class="draggable operation"  data-id="text" transform="translate(5,500)" data-argument-type="text">
            <rect stroke="#389438" fill="#59C059" width="170" height="40" rx="4" ry="4" x="1" y="0"></rect>
            <image href="{% static '/Am-images/variable.png' %}" height="15" x="15" y="12" width="15"></image>

            <g class="am-drop select select-var" transform="translate(20, 0)" style="cursor: text;">
               <g transform="translate(15, 5)">
                  <rect  rx="12" ry="12" x="0" y="0" height="30" width="30"></rect>
                  <text x="10" y="17" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff">
                  </text>
                  <text x="23" y="17" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ▾
                  </text>
               </g>
               <foreignObject x="10" y="0" width="35" height="35" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <input class="input"></input>
                  </div>
                  </foreignObject>
               <foreignObject x="-80" y="50" width="200" height="250" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <div class="operation-head">
                     </div>

                        <div class="operation-list input-mimic">
                           <p>=</p>
                           <p>*</p>
                           <p>/</p>
                           <p>+</p>
                           <p>-</p>
                           <p>^</p>
                        </div>
                     </div>
               </foreignObject>
            </g>
            <g class="am-drop select"  transform="translate(72, 10)" style="cursor: text;">
               <rect  rx="4" ry="4" x="0" y="0" height="18" width="31"></rect>
               <text x="10" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> =
               </text>
               <text x="23" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ▾
               </text>
               <foreignObject x="-80" y="50" width="200" height="250" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <div class="operation-head">
                     </div>

                        <div class="operation-list input-mimic">
                           <p>=</p>
                           <p>*</p>
                           <p>/</p>
                           <p>+</p>
                           <p>-</p>
                           <p>^</p>
                        </div>
                     </div>
               </foreignObject>
            </g>
            <g class="am-drop select select-var" transform="translate(93, 0)" style="cursor: text;">
               <g transform="translate(15, 5)">
                  <rect  rx="12" ry="12" x="0" y="0" height="30" width="30"></rect>
                  <text x="10" y="17" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff">
                  </text>
                  <text x="23" y="17" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ▾
                  </text>
               </g>
               <foreignObject x="10" y="0" width="35" height="35" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <input class="input"></input>
                  </div>
                  </foreignObject>
               <foreignObject x="-80" y="50" width="200" height="250" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <div class="operation-head">
                     </div>

                        <div class="operation-list input-mimic">
                           <p>=</p>
                           <p>*</p>
                           <p>/</p>
                           <p>+</p>
                           <p>-</p>
                           <p>^</p>
                        </div>
                     </div>
               </foreignObject>
            </g>
            <image href="{% static '/Am-images/variable.png' %}" height="15" x="142" y="12" width="15"></image>

         </g>

         <g class="draggable while-container" transform="translate(5,200)" >
            <path  stroke-width="2" stroke="#CF8B17" fill="#FFAB19" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 156 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 64 c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 h -8  a 4,4 0 0,0 -4,4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z"></path>
            <text text-anchor="middle" dominant-baseline="middle" dy="0" x="40" transform="translate(8, 24) ">repeat&nbsp;until</text>
            <g>
               <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#CF8B17" transform="translate(95.17500305175781,8)"></path>
            </g>
         </g>


         <g  class="draggable else-container" data-category="control" data-shapes="c-block c-1" data-id="control_else" transform="translate(5,350)">
            <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
            fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
            <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="5" transform="translate(13,24)">else</text>
      </g>
      <g class="a create-var" transform="translate(5, 550)" style="cursor: pointer;">
         <rect stroke="#389438" fill="#59C059" width="120" height="22" rx="4" ry="4" x="1" y="1"></rect>
         <text class="input-mimic" x="60" y="16" text-anchor="middle"  fill="#fff">Create varialbe</text>

      </g>
      
      <g class="a make-var" trasform="translate(5, 200)" visibility="hidden">
         <rect stroke="#389438" fill="#59C059" width="160" height="40" rx="4" ry="4" x="1" y="1"></rect>
         <g transform="translate(15,0)">
            <foreignObject x="0" y="8" width="75" height="35">
               <div xmlns="http://www.w3.org/1999/xhtml">
                  <input placeholder="var name"  style="width: 60px; stroke: 389438; stroke-width: 2;"></input>
               </div>
               </foreignObject>
         </g>
         <text class="input-mimic" x="94" y="24" text-anchor="middle"  fill="#000">=</text>
         <g transform="translate(105,0)">
            <foreignObject x="12" y="0" width="35" height="35">
               <div xmlns="http://www.w3.org/1999/xhtml">
                  <input class="input"></input>
               </div>
            </foreignObject>
            <image href="{% static '/Am-images/variable.png' %}" height="15" x="-1" y="12" width="15"></image>
         </g>
      </g>
   </svg>
</body>
<script src="{% static '/Am-logic/main.js' %}"></script>

</html>
<!--
            <rect x="3" y="2" width="160em" height="112" fill-opacity="0">
         </rect>
         <g style="font-size: 14px;" class="draggable if-container" data-category="control" data-shapes="c-block c-1" data-id="control_if" transform="translate(5,2)" transform="scale(3);">
               <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
               fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
               <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(8,24)">if</text>
               <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#CF8b17" transform="translate(50,8)"></path>
                  
            <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(124,24)" >then</text>
         </g>

               <g transform="translate(58, 0)" style="cursor: text;">
               <text x="12" y="18" dominant-baseline="middle" text-anchor="middle" dy="0" style="color: #000000;"> > </text>
            </g>
            <g transform="translate(80,4)">
               <path d="m 0,0 m 16,0 H 24 a 16 16 0 0 1 0 32 H 16 a 16 16 0 0 1 0 -32 z" stroke="#389438" fill="#FFFFFF"></path>
               <g transform="translate(8, 0)" style="cursor: text;">
                  <text x="12" y="18" dominant-baseline="middle" text-anchor="middle" dy="0" style="color: #000000;"></text>
               </g>
            </g>
    <div class="draggable if-container">
            <div class="all-insert">
               <span>if</span>
               <div class="drobable insert">
                  <div></div>
                  <div></div>
               </div>
               <span>then</span>
            </div>
         <div class="if-between">
            <div class="insert-squre">
               <div></div>
               <div></div>
            </div>
            <div class="insert-squre"  style="bottom: -10px;  z-index: 50;" >
               <div></div>
               <div></div>
            </div>
         </div>
            <div class="if-end">
               <div class="insert-squre" style="bottom: -10px;">
                  <div></div>
                  <div></div>
               </div>
            </div>
         </div>
         
         <div class="draggable insert operation-logic"
         style="width: auto; height: auto; max-width:
         fit-content; --height: 20px;--middle-height: 20px; --width: 20px; --background-color: #59C059;">
         <div></div>
         <input type="text" />
         >
         <input type="text" />
         <div></div>
      </div>
      
      <div class="draggable insert operation-logic"
         style="width: fit-content; height: auto; max-width:
         fit-content; --height: 20px;--middle-height: 20px; --width: 20px; --background-color: #59C059;">
         <div></div>
         <div class="drobable insert">
            <div></div>
            <div></div>
         </div>
         and
         <div class="drobable insert">
            <div></div>
            <div></div>
         </div>
         <div></div>
      </div>
   </div>


   <!DOCTYPE html>
   <html lang="en">
      <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../Am-style/if.css"/>
         <title>Document</title>
      </head>
      <body>
         
         <div class="container">
            <div class="face"></div>
      <div class="nose"></div>
   </div>
   
</body>
</html>
-->