{% extends 'TutorialsBlocks/tutorials.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
   {% block mainscript %}
<head>
   <script>
      window.step = '{{step|safe}}'
   </script>
   <link rel="stylesheet" href="{% static '/Am-style/if.css' %}">
   <link rel="stylesheet" href="{% static 'Am-style/front/home.css' %}" />
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
   <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
   <script type="module" src="{% static '/Am-logic/main.js' %}" defer> </script>
   </head>
   {% endblock mainscript %}


   {% block varside%}
  

   {% endblock varside %}

      {% block block %}

      <button class="button-30" role="button">print</button>
      <button class="button-30 create-function" role="button">create function</button>
      <button class="button-30" role="button">for each</button>
      <button class="button-30 create-list" role="button">create list</button>
      <button class="button-30 create-var" role="button">create var</button>
      <button class="button-30 create-class" role="button">create class</button>
      <button class="button-30" role="button">if</button>
      <button class="button-30" role="button">assigmnemt</button>
      <button class="button-30" role="button">operation</button>
      <button class="button-30" role="button">else</button>
      <button class="button-30" role="button">while</button>
      <button class="button-30" role="button">counter</button>
      <button class="button-30" role="button">set</button>
      <button class="button-30" role="button">math</button>

      <div  class="DropDownDiv" 
      style="visibility: hidden; left: 200px; top: 100px; position: relative; transition: transform 0.25s ease 0s, opacity 0.25s ease 0s; background-color: #5CB1D6;  direction: ltr; display: block; opacity: 1;" data-category="data">
         <div class="blocklyDropDownContent" style="max-height: 300px;overflow: auto;">
            <div class="goog-menu goog-menu-vertical blocklyDropdownMenu"  role="menu" aria-haspopup="true" tabindex="0" style="cursor: default; font: normal 13px Helvetica Neue, Helvetica, sans-serif;outline: none;user-select: none;">
               
            </div>
         </div>
         <div class="blocklyDropDownArrow arrowTop" style="border-top: 1px solid;
         border-left: 1px solid;
         border-top-left-radius: 4px;
         border-color: inherit;
         position: absolute;
         left: 0;
         top: 0;
         width: 16px;
         height: 16px;
         z-index: -1;
         background-color: inherit;
         transform: translate(157.5px, -9px) rotate(45deg);"></div></div>

      <svg class="Am-workspace" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:html="http://www.w3.org/1999/xhtml"
      version="1.1" width="100%" height="100%">

      <g data-id="MEhs+,0n)|5Fh#cF+0^s" class="draggable" visibility="hidden" id="math" data-shapes="reporter round" data-category="operators">
         <path class="blocklyPath blocklyBlockBackground" stroke="#389438" fill="#59C059" fill-opacity="1" d="m 0,0 m 20,0 H 133.14999961853027 a 20 20 0 0 1 0 40 H 20 a 20 20 0 0 1 0 -40 z"></path>
         <g data-argument-type="dropdown" class="blocklyEditableText" transform="translate(12, 4) " style="cursor: default;"><rect rx="4" ry="4" x="0" y="0" width="67.79999923706055" height="32" stroke="#389438" fill="#59C059" class="blocklyBlockBackground" fill-opacity="1"></rect>
            <text class="operation" x="23.899999618530273" y="18" dominant-baseline="middle" dy="0" text-anchor="middle">abs</text>
            <image class="image" height="12px" width="12px" xlink:href="{% static 'Am-images/drowarrow.svg' %}" transform="translate(43.79999923706055,11)">
   
            </image></g>
            <text class="blocklyText" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="6.675000190734863" transform="translate(87.79999923706055, 20) ">of</text>
            <path class="blocklyPath" style="visibility: hidden" d="M 16,0 h 16 a 16 16 0 0 1 0 32 h -16 a 16 16 0 0 1 0 -32 z" fill="#389438" transform="translate(109.14999961853027,4)" data-argument-type="round"></path>
            <g data-id="l=c5-.nC/cKDQcLoFEP6" data-argument-type="text number" data-shapes="argument round" transform="translate(109.14999961853033,4)"><path class="blocklyPath blocklyBlockBackground" stroke="#389438" fill="#FFFFFF" fill-opacity="1" d="m 0,0 m 16,0 H 24 a 16 16 0 0 1 0 32 H 16 a 16 16 0 0 1 0 -32 z"></path>
              <g class="Am-edit" transform="translate(8, 0) " style="cursor: text;"><text class="blocklyText" x="12" y="18" dominant-baseline="middle" dy="0" text-anchor="middle">&nbsp;</text></g>
            </g>
         </g>
      <g class="draggable return" style="position:fixed;" visibility="hidden" id="return" transform="translate(8,200)">
         <path stroke="#3373CC" fill="#995ba5" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 145.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
         </path>
         <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="19.564815521240234" transform="translate(8, 24) ">return</text>
         <g class="Am-edit" transform="translate(80,12)" style="display: block;">
            <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
         </g>
      </g>


      <g class="Am-edit global" transform="translate(120,12)" style="display: block;" visibility="hidden">
         <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="23" ></rect>
         <text class="Am-text name" fill="#1e8f14" x="5" y="17">1</text>
      </g>
      <g visibility="hidden" transform="translate(10,120)" >
         <g class="create-function" style="cursor: pointer;" >
            <rect stroke="#392D52" fill="#745BA5" fill-opacity="1" width="120" height="22" rx="4" ry="4" x="1" y="1"></rect>
            <text class="input-mimic" x="60" y="16" text-anchor="middle"  fill="#fff">Create function</text>
            
         </g>
         
      </g>
      <g class="al" visibility="hidden" transform="translate(10,60)" >
         <g class="a create-list" style="cursor: pointer;" >
            <rect stroke="#392D52" fill="#745BA5" fill-opacity="1" width="120" height="22" rx="4" ry="4" x="1" y="1"></rect>
            <text class="input-mimic" x="60" y="16" text-anchor="middle"  fill="#fff">Create list</text>
            
         </g>
         
      </g>
      <g class="al" visibility="hidden" transform="translate(10,5)" > 
         <g class="a create-var" transform="translate(0,35)" style="cursor: pointer;">
            <rect stroke="#389438" fill="#59C059" width="120" height="22" rx="4" ry="4" x="1" y="1"></rect>
            <text class="input-mimic" x="60" y="16" text-anchor="middle"  fill="#fff">Create varialbe</text>
            
         </g>
      </g>
      {% if 'classBlock' in id %}

         <g class="draggable" visibility="hidden" id="class">
            <path stroke="#CF8B17" fill="#FFAB19"  d="m 0 4 A 4 4 0 0 1 4 0 H 12,-2 H 156 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 64 c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 h -8  a 4,4 0 0,0 -4,4 v 16 a 4,4 0 0,0 4,4 h  8 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 156 a 4,4 0 0,1 4,4 v 24  a 4,4 0 0,1 -4,4 H 64 c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 h -8  a 4,4 0 0,0 -4,4 v 16 a 4,4 0 0,0 4,4 h  8 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 156 a 4,4 0 0,1 4,4 v 24  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z"></path>

            <g class="Am-edit fname" transform="translate(55,2)" style="display: block;">
               <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="16" width="23" ></rect>
               <text class="Am-text name" fill="#1e8f14" x="5" y="12"></text>
            </g>

            <svg  style="overflow: visible;" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:html="http://www.w3.org/1999/xhtml"
                  version="1.1" y="45" x="20" visibility="hidden" >
                  <rect stroke="#392D52" fill="#745ba53e" height="100" width="160" class="MutatorBackground"></rect>
                     <foreignObject x="20" y="20" width="160" height="100" transform="translate(-10,-25)">
                        <div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block;">
                           <input type="radio"  name="radioButton" value="private"> <span class="Am-text">private </span>
                           <input type="radio" class="Am-text" name="radioButton" value="public" checked> <span class="Am-text">public </span>
                         </div>
                     </foreignObject>
                  <g transform="translate(10,20)" >
                     <g class="create-function" style="cursor: pointer;" >
                        <rect stroke="#392D52" fill="#745BA5" fill-opacity="1" width="120" height="22" rx="4" ry="4" x="1" y="1"></rect>
                        <text class="input-mimic" x="60" y="16" text-anchor="middle"  fill="#fff">Create function</text>
                        
                     </g>
            </svg>


            <g class="drop_content create" style="cursor: pointer;" transform="translate(3,75)" >
               <rect rx="4" ry="4" height="16" width="16"></rect>
               <path stroke="#392D52" fill="#745BA5" fill-opacity="1"  d="m4.203,7.296 0,1.368 -0.92,0.677 -0.11,0.41 0.9,1.559 0.41,0.11 1.043,-0.457 1.187,0.683 0.127,1.134 0.3,0.3 1.8,0 0.3,-0.299 0.127,-1.138 1.185,-0.682 1.046,0.458 0.409,-0.11 0.9,-1.559 -0.11,-0.41 -0.92,-0.677 0,-1.366 0.92,-0.677 0.11,-0.41 -0.9,-1.559 -0.409,-0.109 -1.046,0.458 -1.185,-0.682 -0.127,-1.138 -0.3,-0.299 -1.8,0 -0.3,0.3 -0.126,1.135 -1.187,0.682 -1.043,-0.457 -0.41,0.11 -0.899,1.559 0.108,0.409z">
               </path>
               <circle  r="2.7" cx="8" cy="8"></circle>
            </g>
            <text class="Am-text" y="2" dy="0" x="4" transform="translate(10,12)">class 
            </text>

            <text dy="0" style="font: normal 11pt sans-serif;" class="access_modifiers" transform="translate(30, 40)">private</text>

            <text dy="0" style="font: normal 11pt sans-serif;" class="access_modifiers" transform="translate(30, 95)">public</text>
      
         </g>
         
      {% endif %}   

      {% if 'functionBlock' in id %}
         <g class="draggable function-container if-like" visibility="hidden" id="function">
            <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 -2 H 145 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 145 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
            fill="#995ba5" ></path>

            <svg  style="overflow: visible;" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:html="http://www.w3.org/1999/xhtml"
            version="1.1" y="45" x="20" visibility="hidden" >
            <rect stroke="#392D52" fill="#745ba53e" height="100" width="160" class="MutatorBackground"></rect>

            </svg>
            <g class="parameters" transform="translate(0,100)"  visibility="hidden">
               <rect rx="4" ry="4"  fill="#995ba5" width="355" height="210"></rect>
               <rect rx="4" ry="4" y="5" x="5"  stroke="" width="345" height="200"></rect>
               <g class="inputs">
                  <rect rx="4" ry="4" y="5" x="5" fill="#ddd" width="160" height="200"></rect>
                  <g class="-inputs" style="cursor: pointer;" id="inputs" transform="translate(10,10)">
                     <path stroke="none" fill="#995ba5" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 130.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
                     </path>
                     <text class="Am-text" y="25" dy="0" x="15.564815521240234">input name:</text>
                     <g class="Am-edit" transform="translate(95,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="Am-text" fill="#1e8f14" x="5" y="17">a</text>
                     </g>
                  </g>
               </g>
               <g class="inputs-wrapper-container" transform="translate(180, 30)">
               <svg class="Am-workspace" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:html="http://www.w3.org/1999/xhtml"
                  version="1.1" width="150px" height="400px" >
                     <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 -2 H 100 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 100 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
                     fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
                     <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(50,15)">inputs </text>
                  </svg>
               </g>
            </g>

            <g class="drop_params" style="cursor: pointer;" transform="translate(3,8)">
               <rect rx="4" ry="4" height="16" width="16"></rect>
               <path stroke="#392D52" fill="#745BA5" fill-opacity="1"  d="m4.203,7.296 0,1.368 -0.92,0.677 -0.11,0.41 0.9,1.559 0.41,0.11 1.043,-0.457 1.187,0.683 0.127,1.134 0.3,0.3 1.8,0 0.3,-0.299 0.127,-1.138 1.185,-0.682 1.046,0.458 0.409,-0.11 0.9,-1.559 -0.11,-0.41 -0.92,-0.677 0,-1.366 0.92,-0.677 0.11,-0.41 -0.9,-1.559 -0.409,-0.109 -1.046,0.458 -1.185,-0.682 -0.127,-1.138 -0.3,-0.299 -1.8,0 -0.3,0.3 -0.126,1.135 -1.187,0.682 -1.043,-0.457 -0.41,0.11 -0.899,1.559 0.108,0.409z">
               </path>
               <circle  r="2.7" cx="8" cy="8"></circle>
            </g>
            <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(25,24)">to </text>
            <g class="Am-edit fname" transform="translate(50,12)" style="display: block;">
               <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="23" ></rect>
               <text class="Am-text name" fill="#1e8f14" x="5" y="17"></text>
            </g>
            <text class="Am-text" y="2"  dy="0" x="4" transform="translate(80,24)" > with: </text>
      
            


         </g>
         <g class="draggable call" style="position:fixed;" id="caller"  visibility="hidden">
            <path stroke="#3373CC" fill="#4C97FF" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 100.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
            </path>
            <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="19.564815521240234" transform="translate(8, 24) ">call </text>
            <text class="Am-text name" y="2"  x="50.564815521240234" transform="translate(0, 24) "></text>

         </g>

      {% endif %}   
      
      {% if 'listBlock' in id %}


      <g class="draggable" visibility="hidden"  id="list" >
 
         <path stroke="#392D52" fill="#745BA5" fill-opacity="1" d="m 0 4 A 4 4 0 0 1 4 0 H 12,-2 H 123.828125 v 10 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 10 H 50.5 H 100 a 8,8 0 0,1 0,0 H 48 H 4 a 4,4 0 0,1 -4,-4 z"
         ></path>

         <text  y="12.5" transform="translate(26,12)">List</text>
         <text class="listname" y="12.5" transform="translate(65,12)"></text>

            <svg  style="overflow: visible;" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:html="http://www.w3.org/1999/xhtml"
            version="1.1" y="45" x="20" visibility="hidden" >
            <rect height="350" width="180" class="MutatorBackground"></rect>

            <g class="clickable list_clear" transform="translate(10,5)">
               <path transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 84.25 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
               <path fill="#FFAB19" d="m 0,0 H 120 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">
               </path>
               <text class="opname" y="12.5" transform="translate(10,5)">Clear </text>
            </g>
      
         <g class="list_count clickable" transform="translate(10,40)">
            <path class="blocklyPathDark" transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 84.25 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
            <path class="blocklyPath" fill="#FFAB19" d="m 0,0 H 120 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">
   
            </path>
            
            <text class="opname" y="12.5" transform="translate(10,5)">Length </text>
         </g>
   
   
         <g class="list_append clickable" transform="translate(10,75)">
            <path fill="#FFAB19" d="m 0,0 H 120 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">
   
            </path>
            <text class="opname" y="12.5" transform="translate(10,5)">Append  </text>
            <g class="Am-edit" transform="translate(80,3)" style="display: block;">
               <rect rx="4" ry="4" fill="#fff" x="0" y="0" height="20" width="20"></rect>
               <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
            </g>
         </g>
   
         <g class="list_insertat clickable" transform="translate(10,110)">
         <path transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 100 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
         <path  fill="#FFAB19" d="m 0,0 H 140 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">
         </path>

         <text class="opname" y="12.5" transform="translate(10,5)">insert </text>
         <text class="opname" y="12.5" transform="translate(55,5)">At</text>
         <g class="Am-edit" transform="translate(85,3)" style="display: block;">
            <rect rx="4" ry="4" fill="#fff" x="0" y="0" height="20" width="20"></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>  
         </g>
         <text class="blocklyText" y="12.5" transform="translate(108,5)">, </text>
         <g class="Am-edit" transform="translate(115,3)" style="display: block;">
            <rect rx="4" ry="4" fill="#fff" x="0" y="0" height="20" width="20"></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
         </g>

         </g>

         <g class="list_pop clickable" transform="translate(10, 145)">
            <path transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 35 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
            <path fill="#FFAB19" d="m 0,0 H 80 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">
   
            </path>
            <text class="opname" y="12.5" transform="translate(10,5)">Pop </text>
           
         </g>

         <g class="list_remove clickable" transform="translate(10,180)">
            <path transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 40 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
            <path  fill="#FFAB19" d="m 0,0 H 120 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">
   
            </path>
            <text class="opname" y="12.5" transform="translate(10,5)">Remove </text>
            <g class="Am-edit" transform="translate(85,3)" style="display: block;">
               <rect rx="4" ry="4" fill="#fff" x="0" y="0" height="20" width="20"></rect>
               <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
            </g>
   
         </g>

      <g class="list_sort clickable" transform="translate(10, 215)">
         <path transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 40 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
         <path fill="#FFAB19" d="m 0,0 H 80 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">

         </path>
         <text class="opname" y="12.5" transform="translate(10,5)">Sort </text>
      </g>

      <g class="list_reverse clickable" transform="translate(10, 250)">
         <path class="blocklyPathDark" transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 40 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
         <path class="blocklyPath" fill="#FFAB19" d="m 0,0 H 90 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">

         </path>
         <text class="opname" y="12.5" transform="translate(10,5)">Reverse</text>
      </g>

      <g class="list_index clickable" transform="translate(10,285)">
         <path class="blocklyPathDark" transform="translate(1,1)" fill="#FFAB19" d="m 0,0 H 40 v 5 c 0,10 -8,-8 -8,7.5 s 8,-2.5 8,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z"></path>
         <path class="blocklyPath" fill="#FFAB19" d="m 0,0 H 100 v 5 c 0,10 0,0 0,10 s 0,10  0,7.5 v 4 H 0 V 20 c 0,-10 -8,8 -8,-7.5 s 8,2.5 8,-7.5 z">

         </path>
         <text class="opname" y="12.5" transform="translate(10,5)">Index</text>
         <g class="Am-edit" transform="translate(65,3)" style="display: block;">
            <rect rx="4" ry="4" fill="#fff" x="0" y="0" height="20" width="20"></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
         </g>

      </g>
            </svg>
            <g class="parameters" transform="translate(0,100)"  visibility="hidden">
               <rect rx="4" ry="4"  fill="#995ba5" width="355" height="210"></rect>
               <rect rx="4" ry="4" y="5" x="5"  stroke="" width="345" height="200"></rect>
               <g class="inputs">
                  <rect rx="4" ry="4" y="5" x="5" fill="#ddd" width="160" height="200"></rect>
                  <g class="drop_list" style="cursor: pointer;" id="inputs" transform="translate(10,10)">
                     <path stroke="none" fill="#995ba5" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 130.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
                     </path>
                     <text class="Am-text" y="25" dy="0" x="15.564815521240234">item:</text>
                     <g class="Am-edit" transform="translate(95,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="Am-text" fill="#1e8f14" x="5" y="17">a</text>
                     </g>
                  </g>
               </g>
               <g class="inputs-wrapper-container" transform="translate(180, 30)">
               <svg style="z-index: 99999; position: relative;" class="Am-workspace" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:html="http://www.w3.org/1999/xhtml"
                  version="1.1" width="150px" height="400px" >
                     <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 -2 H 100 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 100 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
                     fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
                     <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(50,15)">item </text>
                  </svg>
               </g>
            </g>
            <g class="drop_params" style="cursor: pointer;" transform="translate(3,8)">
               <rect rx="4" ry="4" height="16" width="16"></rect>
               <path stroke="#392D52" fill="#745BA5" fill-opacity="1"  d="m4.203,7.296 0,1.368 -0.92,0.677 -0.11,0.41 0.9,1.559 0.41,0.11 1.043,-0.457 1.187,0.683 0.127,1.134 0.3,0.3 1.8,0 0.3,-0.299 0.127,-1.138 1.185,-0.682 1.046,0.458 0.409,-0.11 0.9,-1.559 -0.11,-0.41 -0.92,-0.677 0,-1.366 0.92,-0.677 0.11,-0.41 -0.9,-1.559 -0.409,-0.109 -1.046,0.458 -1.185,-0.682 -0.127,-1.138 -0.3,-0.299 -1.8,0 -0.3,0.3 -0.126,1.135 -1.187,0.682 -1.043,-0.457 -0.41,0.11 -0.899,1.559 0.108,0.409z">
               </path>
               <circle  r="2.7" cx="8" cy="8"></circle>
            </g>
         </g>
       
  
      {% endif %}

      {% if 'eachBlock' in id %}
      <g class="draggable if-container thick " id="each" visibility="hidden" transform="translate(8,200)">
         <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 160 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 70 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 160 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
         fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
         <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(30,24)">for each </text>
         <g class="Am-edit" transform="translate(70,12)" style="display: block;">
            <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17">i</text>
         </g>
         <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle"  dy="0" x="4" transform="translate(110,24)" > in </text>
         <g class="Am-edit" transform="translate(130,12)" style="display: block;">
            <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
         </g>
         <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(8,60)">do</text>
         
      </g>
   {% endif %}

      {% if 'printBlock' in id %}
    
    
         <g class="draggable print"  transform="translate(8,300)"  style="position:fixed;" visibility="hidden" id="print">
            <path stroke="#3373CC" fill="#4C97FF" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 145.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
            </path>
            <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="19.564815521240234" transform="translate(8, 24) ">print</text>
            <g transform="translate(70, 8)">
               <path stroke="#389438" fill="#FFFFFF" fill-opacity="1" d="m 0,0 m 16,0 H 24 a 16 16 0 0 1 0 32 H 16 a 16 16 0 0 1 0 -32 z"></path>
               <g class="Am-edit" transform="translate(8, 0)" style="cursor: text;">
                  <text class="Am-text" x="12" y="18" dominant-baseline="middle" dy="0" text-anchor="middle">&nbsp;</text></g>
             </g>
            <image  class="string" xlink:href="{% static 'Am-images/fether.svg' %}" transform="translate(120,12)" width="20" height="20" />
         </g>

      {% endif %}

  


      {% if 'ifBlock' in id %}
         <g class="draggable if-container if-like"   visibility="hidden" id="if">
            <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
            fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>

        

            <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(8,24)">if </text>
            <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#CF8b17" transform="translate(50,8)"></path>
            <text class="Am-text move" y="2" text-anchor="middle" dominant-baseline="middle"  dy="0" x="4" transform="translate(124,24)" > then</text>
            <svg  style="overflow: visible;" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:html="http://www.w3.org/1999/xhtml"
            version="1.1" y="45" x="20" visibility="hidden" >
            <rect stroke="#392D52" fill="#745ba53e" height="100" width="160" class="MutatorBackground"></rect>

            </svg>
            <g class="drop_content create" style="cursor: pointer;" transform="translate(0,35)">
               <rect rx="4" ry="4" height="16" width="16"></rect>
               <path stroke="#392D52" fill="#745BA5" fill-opacity="1"  d="m4.203,7.296 0,1.368 -0.92,0.677 -0.11,0.41 0.9,1.559 0.41,0.11 1.043,-0.457 1.187,0.683 0.127,1.134 0.3,0.3 1.8,0 0.3,-0.299 0.127,-1.138 1.185,-0.682 1.046,0.458 0.409,-0.11 0.9,-1.559 -0.11,-0.41 -0.92,-0.677 0,-1.366 0.92,-0.677 0.11,-0.41 -0.9,-1.559 -0.409,-0.109 -1.046,0.458 -1.185,-0.682 -0.127,-1.138 -0.3,-0.299 -1.8,0 -0.3,0.3 -0.126,1.135 -1.187,0.682 -1.043,-0.457 -0.41,0.11 -0.899,1.559 0.108,0.409z">
               </path>
               <circle  r="2.7" cx="8" cy="8"></circle>
            </g>
           
            
         </g>
      {% endif %}

      {% if 'multiConditionBlock' in id %}
      <g class="draggable operation-logic condition-container"id="multiConditionBlock">
         <path d="m 0,0 m 20,0 H 156.35000038146973 l 20 20 l -20 20 H 20 l -20 -20 l 20 -20 z" stroke="#389438" fill="#59C059"></path>
         <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#1e8f14" transform="translate(20,4)"></path>
         
         
         <g class="am-drop select" transform="translate(72, 10)" style="cursor: text;">
            <rect  rx="4" ry="4" x="0" y="0" height="18" width="31"></rect>
            <text class="Am-text ope" x="10" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ></text>
            <text x="23" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ▾ </text>
            <foreignObject x="-80" y="50" width="200" height="250" visibility="hidden">
               <div xmlns="http://www.w3.org/1999/xhtml">
                  <div class="operation-head">
                  </div>
                     <div class="operation-list input-mimic">        
                        <p><</p>
                        <p><=</p>
                        <p>==</p>
                        <p>&&</p>
                        <p>||</p>
                     </div>
                  </div>
            </foreignObject>
         </g>
         <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#1e8f14" transform="translate(115,4)"></path>
          
      </g>
   {% endif %}
      {% if 'conditionalBlock' in id %}

         <g class="draggable operation-logic"  id="condition" >
            <path d="m 0,0 m 20,0 H 140.35000038146973 l 20 20 l -20 20 H 20 l -20 -20 l 20 -20 z" stroke="#389438" fill="#59C059"></path>
               <g class="Am-edit" transform="translate(30,7)" style="display: block;">
                  <rect rx="4" ry="4" fill='#fff' x="0" y="0" height="23" width="25" ></rect>
                  <text class="Am-text" fill="#1e8f14" x="5" y="17">0</text>
               </g>
            <g class="move-input" transform="translate(0,0)">
      
            <g class="am-drop select"  transform="translate(65, 10)" style="cursor: text;">
               <rect  rx="4" ry="4" x="0" y="0" height="18" width="31"></rect>
               <text class="Am-text" x="10" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> <</text>
               <text x="23" y="9" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> ▾ </text>
              <!-- <foreignObject x="-80" y="50" width="0" height="250" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <div class="operation-head">
                     </div>
                        <div class="operation-list input-mimic">        
                           <p><</p>
                           <p><=</p>
                           <p>==</p>
                           <p>&&</p>
                           <p>||</p>
                        </div>
                     </div>
               </foreignObject>-->
            </g>
               <g class="Am-edit" transform="translate(108,7)" style="display: block;">
                  <rect rx="4" ry="4" fill='#fff' x="0" y="0" height="23" width="25" ></rect>
                  <text class="Am-text" fill="#1e8f14" x="5" y="17">0</text>
               </g>
          
         </g>
         </g>
      {% endif %}

         {% if 'assigmnemtBlock' in id %}

         <g class="draggable operation" style="position:fixed;"visibility="hidden" id="assigmnemt" >
            <path stroke="#389438" fill="#59C059" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 145.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
            </path>
            <g class="Am-edit" transform="translate(15,11)" style="display: block;">
               <rect rx="4" ry="4" fill='#fff' x="0" y="0" height="23" width="25" ></rect>
               <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
            </g>
            <g class="am-drop select prompt"  transform="translate(55, 15)" style="cursor: text;">
               <rect  rx="4" ry="4" x="0" y="0" height="18" width="31"></rect>
               <text class="Am-text" x="15" y="10" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> = </text>
            </g>
            <g class="Am-edit" transform="translate(95,11)" style="display: block;">
               <rect rx="4" ry="4" fill='#fff' x="0" y="0" height="23" width="25" ></rect>
               <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
            </g>
       
            
         </g>

         {% endif %}
         {% if 'operationBlock' in id %}

         <g class="draggable operation" style="position:fixed;" id="operation" >
            <path stroke="#389438" fill="#59C059" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 145.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
            </path>
            <g class="Am-edit" transform="translate(15,11)" style="display: block;">
               <rect rx="4" ry="4" fill='#fff' x="0" y="0" height="23" width="25" ></rect>
               <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
            </g>
            <g class="am-drop select"  transform="translate(55, 13)" style="cursor: text;">
               <rect  rx="4" ry="4" x="-2" y="0" height="18" width="33"></rect>
               <text class="Am-text" x="15" y="10" dominant-baseline="middle" stroke="none"text-anchor="middle" dy="0" fill="#ffffff"> += </text>
               <foreignObject x="-80" y="50" width="200" height="250" visibility="hidden">
                  <div xmlns="http://www.w3.org/1999/xhtml">
                     <div class="operation-head">
                     </div>
                        <div class="operation-list input-mimic">        
                           <p>*</p>
                           <p>*=</p>
                           <p>%</p>
                           <p>&&</p>
                           <p>||</p>
                        </div>
                     </div>
               </foreignObject>
            </g>
            <g class="Am-edit" transform="translate(95,11)" style="display: block;">
               <rect rx="4" ry="4" fill='#fff' x="0" y="0" height="23" width="25" ></rect>
               <text class="Am-text" fill="#1e8f14" x="5" y="17"></text>
            </g>
       
            
         </g>

         {% endif %}

         {% if 'whileBlock' in id %}

         <g class="draggable while-container if-like"  visibility="hidden" id="while">
            <path  stroke-width="2" stroke="#CF8B17" fill="#FFAB19" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 140 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 64 c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 h -8  a 4,4 0 0,0 -4,4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 140 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z"></path>
            <text class="Am-text" text-anchor="middle" dominant-baseline="middle" dy="0" x="40" transform="translate(8, 24) "> repeat&nbsp;until </text>
               <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#CF8B17" transform="translate(95.17500305175781,8)"></path>
         </g>
         {% endif %}

      {% if 'elseBlock' in id  %}
         <g  class="draggable else-container" visibility="hidden" id="else">
            <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
            fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
            <g class="drop_content create" style="cursor: pointer;" transform="translate(0,35)">
               <rect rx="4" ry="4" height="16" width="16"></rect>
               <path stroke="#392D52" fill="#745BA5" fill-opacity="1"  d="m4.203,7.296 0,1.368 -0.92,0.677 -0.11,0.41 0.9,1.559 0.41,0.11 1.043,-0.457 1.187,0.683 0.127,1.134 0.3,0.3 1.8,0 0.3,-0.299 0.127,-1.138 1.185,-0.682 1.046,0.458 0.409,-0.11 0.9,-1.559 -0.11,-0.41 -0.92,-0.677 0,-1.366 0.92,-0.677 0.11,-0.41 -0.9,-1.559 -0.409,-0.109 -1.046,0.458 -1.185,-0.682 -0.127,-1.138 -0.3,-0.299 -1.8,0 -0.3,0.3 -0.126,1.135 -1.187,0.682 -1.043,-0.457 -0.41,0.11 -0.899,1.559 0.108,0.409z">
               </path>
               <circle  r="2.7" cx="8" cy="8"></circle>
            </g>
            <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="5" transform="translate(16,24)">else</text>

            <svg  style="overflow: visible;" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:html="http://www.w3.org/1999/xhtml"
            version="1.1" y="45" x="20" visibility="hidden" >
            <rect stroke="#392D52" fill="#745ba53e" height="100" width="160" class="MutatorBackground"></rect>

            </svg>
      </g>
      {% endif %}
      {% if 'counterBlock' in id  %}
         <g class="draggable counter-container thick" id="counter" visibility="hidden">
            <path  d="m 0 4 A 4 4 0 0 1 4 0 H 20 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 160 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 70 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 160 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
            fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
            <g class="drop_params" style="cursor: pointer;" transform="translate(2,50)">
               <rect rx="4" ry="4" height="16" width="16"></rect>
               <path stroke="#392D52" fill="#745BA5" fill-opacity="1"  d="m4.203,7.296 0,1.368 -0.92,0.677 -0.11,0.41 0.9,1.559 0.41,0.11 1.043,-0.457 1.187,0.683 0.127,1.134 0.3,0.3 1.8,0 0.3,-0.299 0.127,-1.138 1.185,-0.682 1.046,0.458 0.409,-0.11 0.9,-1.559 -0.11,-0.41 -0.92,-0.677 0,-1.366 0.92,-0.677 0.11,-0.41 -0.9,-1.559 -0.409,-0.109 -1.046,0.458 -1.185,-0.682 -0.127,-1.138 -0.3,-0.299 -1.8,0 -0.3,0.3 -0.126,1.135 -1.187,0.682 -1.043,-0.457 -0.41,0.11 -0.899,1.559 0.108,0.409z">
               </path>
               <circle  r="2.7" cx="8" cy="8"></circle>
            </g>
            <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(35,24)">count from</text>
            <text class="Am-text ecounter" transform="translate(80,28)">i to 10</text>
            <g class="parameters" transform="translate(0,100)"  visibility="hidden">
               <rect rx="4" ry="4"  fill="#995ba5" width="460" height="210"></rect>
               <rect rx="4" ry="4" y="5" x="5"  stroke="" width="450" height="200"></rect>
               <g class="inputs">

                  <rect rx="4" ry="4" y="5" x="5" fill="#ddd" width="160" height="200"></rect>
                  <g class="change drop_list" visibility="hidden" id="inputs" style="cursor: pointer;" transform="translate(10,10)" >
                     <path stroke="none" fill="#995ba5" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 210.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
                     </path>
                     <g class="Am-edit" transform="translate(10,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="main Am-text varname" fill="#1e8f14" x="5" y="17">a</text>
                     </g>
                     <text class="Am-text" y="27" dy="0" x="40">from </text>
                     <g class="Am-edit" transform="translate(75,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="main Am-text" fill="#1e8f14" x="5" y="17">10</text>
                     </g>
                     <text class="Am-text" y="27" dy="0" x="108">to </text>
                     <g class="Am-edit" transform="translate(123,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="main Am-text" fill="#1e8f14" x="5" y="17">20</text>
                     </g>

                     <text class="Am-text" y="27" dy="0" x="158">by </text>
                     <g class="Am-edit" transform="translate(175,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="main Am-text by" fill="#1e8f14" x="5" y="17">2</text>
                     </g>
                  </g>
            
                  <g class="drop_list counter" style="cursor: pointer;" id="inputs" transform="translate(10,10)">
                     <path stroke="none" fill="#995ba5" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 130.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
                     </path>
                     <text class="Am-text" y="25" dy="0" x="15.564815521240234">counter:</text>
                     <g class="Am-edit" transform="translate(95,12)" style="display: block;">
                        <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                        <text class="Am-text" fill="#1e8f14" x="5" y="17">a</text>
                     </g>
                  </g>
  
               </g>
               <g class="inputs-wrapper-container" transform="translate(180, 30)">
               <svg style="z-index: 99999; position: relative;" class="Am-workspace" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:html="http://www.w3.org/1999/xhtml"
                  version="1.1" width="450px" height="400px" >
                     <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 -2 H 100 a 4 4 0 0 1 4 4 v 50 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 100 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
                     fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
                     <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(50,15)">settings </text>
                     <g class="change drop_list s" id="inputs" style="cursor: pointer;" transform="translate(16,50)" >
                        <path stroke="none" fill="#995ba5" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 210.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
                        </path>
                        <g class="Am-edit" transform="translate(10,12)" style="display: block;">
                           <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                           <text class="Am-text varname" fill="#1e8f14" x="5" y="17">a</text>
                        </g>
                        <text class="Am-text" y="27" dy="0" x="40">from </text>
                        <g class="Am-edit" transform="translate(75,12)" style="display: block;">
                           <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                           <text class="main Am-text" fill="#1e8f14" x="5" y="17">10</text>
                        </g>
                        <text class="Am-text" y="27" dy="0" x="108">to </text>
                        <g class="Am-edit" transform="translate(123,12)" style="display: block;">
                           <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                           <text class="main Am-text" fill="#1e8f14" x="5" y="17">20</text>
                        </g>
   
                        <text class="Am-text" y="27" dy="0" x="158">by </text>
                        <g class="Am-edit" transform="translate(175,12)" style="display: block;">
                           <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
                           <text class="main Am-text by" fill="#1e8f14" x="5" y="17">2</text>
                        </g>
                     </g>
                  </svg>
               </g>
            </g>
         </g>
      {% endif %}

      {% if 'makeVarBlock' in id  %}   
      <g class="draggable make-var"  transform="translate(8,300)" visibility="hidden" style="position:fixed;" id="make_var">
         <path stroke="#2E8EB8" fill="#5CB1D6" fill-opacity="1" d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 185.38888931274414 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z">
         </path>
         <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="19.564815521240234" transform="translate(8, 24) ">set</text>
         <g class="Am-edit" transform="translate(50,12)" style="display: block;">
            <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="25" ></rect>
            <text class="Am-text name" fill="#1e8f14" x="5" y="17"></text>
         </g>
         <text class="Am-text" y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="85.564815521240234" transform="translate(8, 24) ">to</text>
         <g class="Am-edit" transform="translate(110,12)" style="display: block;">
            <rect rx="4" ry="4" x="0" fill='#fff' y="0" height="23" width="45" ></rect>
            <text class="Am-text" fill="#1e8f14" x="5" y="17">NULL</text>
         </g>
         <image xlink:href="{% static 'Am-images/fether.svg' %}" transform="translate(165,12)" width="20" height="20" />

      </g>

      {% endif %}

	  </svg>
   </svg>
  

      {% endblock block %}
        
</body>


</html>

<!--
   
   <rect x="3" y="2" width="160em" height="112" fill-opacity="0">
         </rect>
         <g style="font-size: 14px;" class="draggable if-container" data-category="control" data-shapes="c-block c-1" data-id="control_if" transform="translate(5,2)" transform="scale(3);">
               <path  d="m 0 4 A 4 4 0 0 1 4 0 H 12 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 40 a 4 4 0 0 1 -4 4 H 64 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 h -8 a 4 4 0 0 0 -4 4 v 16 a 4 4 0 0 0 4 4 h 8 c 2 0 3 1 4 2 l 4 4 c 1 1 2 2 4 2 h 12 c 2 0 3 -1 4 -2 l 4 -4 c 1 -1 2 -2 4 -2 H 156 a 4 4 0 0 1 4 4 v 24 a 4 4 0 0 1 -4 4 H 48 c -2 0 -3 1 -4 2 l -4 4 c -1 1 -2 2 -4 2 h -12 c -2 0 -3 -1 -4 -2 l -4 -4 c -1 -1 -2 -2 -4 -2 H 4 a 4 4 0 0 1 -4 -4 Z" 
               fill="rgb(255, 171, 25)" stroke="rgb(207, 139, 23)" stroke-width="2"/>
               <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(8,24)">if</text>
               <path class="drobable" d="M 16,0  h 16 l 16,16 l -16,16 h -16 l -16,-16 l 16,-16 z" fill="#CF8b17" transform="translate(50,8)"></path>
                  
            <text y="2" text-anchor="middle" dominant-baseline="middle" dy="0" x="4" transform="translate(124,24)" >then</text>
         </g>
               <g transform="translate(58, 0)" style="cursor: text;">
               <text x="12" y="18" dominant-baseline="middle" text-anchor="middle" dy="0" style="color: #000000;"> > </text>
            </g>
            <g transform="translate(80,4)">
               <path d="m 0,0 m 16,0 H 24 a 16 16 0 0 1 0 32 H 16 a 16 16 0 0 1 0 -32 z" stroke="#389438" fill="#FFFFFF"></path>
               <g transform="translate(8, 0)" style="cursor: text;">
                  <text x="12" y="18" dominant-baseline="middle" text-anchor="middle" dy="0" style="color: #000000;"></text>
               </g>
            </g>
    <div class="draggable if-container">
            <div class="all-insert">
               <span>if</span>
               <div class="drobable insert">
                  <div></div>
                  <div></div>
               </div>
               <span>then</span>
            </div>
         <div class="if-between">
            <div class="insert-squre">
               <div></div>
               <div></div>
            </div>
            <div class="insert-squre"  style="bottom: -10px;  z-index: 50;" >
               <div></div>
               <div></div>
            </div>
         </div>
            <div class="if-end">
               <div class="insert-squre" style="bottom: -10px;">
                  <div></div>
                  <div></div>
               </div>
            </div>
         </div>
         
         <div class="draggable insert operation-logic"
         style="width: auto; height: auto; max-width:
         fit-content; --height: 20px;--middle-height: 20px; --width: 20px; --background-color: #59C059;">
         <div></div>
         <input type="text" />
         >
         <input type="text" />
         <div></div>
      </div>
      
      <div class="draggable insert operation-logic"
         style="width: fit-content; height: auto; max-width:
         fit-content; --height: 20px;--middle-height: 20px; --width: 20px; --background-color: #59C059;">
         <div></div>
         <div class="drobable insert">
            <div></div>
            <div></div>
         </div>
         and
         <div class="drobable insert">
            <div></div>
            <div></div>
         </div>
         <div></div>
      </div>
   </div>


   <!DOCTYPE html>
   <html lang="en">
      <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../Am-style/if.css"/>
         <title>Document</title>
      </head>
      <body>
         
         <div class="container">
            <div class="face"></div>
      <div class="nose"></div>
   </div>
   
</body>
</html>
-->