{% load static %}
<nav> 
  <input type="checkbox" id="check"> <label for="check" 
  class="checkbtn"> <i class="fa fa-bars"></i> </label> <label class="logo">LegoCode</label>
  <ul>
    <li><a class="active" href="/">HOME</a></li>
    <li><a href="area.html">Code</a></li>
    <li><a href="{% url 'profile_request' %}">Dash</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="{% url 'login_request' %}">Sign In</a></li>
  </ul>
  </nav>
<link rel="stylesheet" href="{% static 'Am-style/front/navbar.css' %}">
